<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | CSE 340 App</title>
    <link rel="stylesheet" media="screen" href="/css/styles.css">
    
    <!-- Accessibility and SEO Enhancements -->
    <meta name="description" content="CSE Motors - Your Destination for Unique Vehicles">
    <meta name="keywords" content="motors, vehicles, car sales, automotive">
    <meta name="author" content="CSE 340 App">
    
    <!-- Favicon  -->
    <link rel="icon" href="/images/site/favicon.ico" type="image/x-icon">
    
    <!-- Preload critical assets -->
    <link rel="preload" href="/images/vehicles/delorean.png" as="image">
</head>